<body>
<div  class="site-wrapper" style="width: 90%; margin: 0 auto;">
  <h1>Download latest build</h1>
      <table class="table table-striped">
        <thead>
          <tr>
              <th>Build Number</th>
              <th>Windows 32</th>
              <th>Windows 64</th>
              <th>Mac</th>
              <th>Mac 64</th>
              <th>Mac Universal</th>
              <th>Build Path</th>
              <th>Time Created</th>
              <th colspan="2"></th>
          </tr>
        </thead>
        <tbody>
          <% @builds.each do |t| %>
            <tr>
                <td><%= t.build_id %></td>
                <td>
                    <% if t.windows32 == true %>
                      <%= link_to "Download", build_download_windows32_path(t)   %>
                    <% else%>
                      <b>No build</b>
                    <% end%>
                </td>
                <td>
                    <% if t.windows64 == true %>
                      <%= link_to "Download", build_download_windows64_path(t)   %>
                    <% else%>
                      <b>No build</b>
                    <% end%>
                </td>
                <td>
                    <% if t.mac == true %>
                      <%= link_to "Download", build_download_mac_path(t)   %>
                    <% else%>
                      <b>No build</b>
                    <% end%>
                </td>
                <td>
                    <% if t.mac64 == true %>
                      <%= link_to "Download", build_download_mac64_path(t)   %>
                    <% else%>
                      <b>No build</b>
                    <% end%>
                </td>
                <td>
                    <% if t.mac_universal == true %>
                      <%= link_to "Download", build_download_mac_universal_path(t)   %>
                    <% else%>
                      <b>No build</b>
                    <% end%>
                </td>
                <td><%= t.filepath %></td>
                <td><%= t.time %></td>
                <td><%= link_to 'Destroy', build_path(t),
                    method: :delete %></td>
            </tr>
          <% end %>



          </tbody>
      </table>

  <%= form_for :build do |f| %>
   
    <% if @build.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@build.errors.count, "error") %> prohibited
          this build from being saved:
        </h2>
        <ul>
          <% @build.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
   <!--
   cellspacing="20" rules="value" 
    <p>
      <%= f.label :build_id %><br>
      <%= f.text_field :build_id %>
    </p>
   
    <p>
      <%= f.label :filepath %><br>
      <%= f.text_area :filepath %>
    </p>
   
   -->
    <p>
      <%= f.submit %>
    </p>
   
  <% end %>
  </div>
</body>
